.important {
  background-color: #e2ff87;
  color: #000000;
}

.remark-slide-content {
  background-color: #e1ded3;
  border-top: 80px solid #5a6636;
}



.footnote{
  position: absolute;
  bottom: 3em;
  padding-right: 4em;
  font-size: 90%
}


/* Two-column layout */
.left-column {
  color: #777;
  width: 20%;
  height: 92%;
  float: left;
}
.left-column h2:last-of-type, .left-column h3:last-child {
  color: #000;
}
.right-column {
  width: 75%;
  float: right;
  padding-top: 1em;
}
.pull-left {
  float: left;
  width: 47%;
}
.pull-right {
  float: right;
  width: 47%;
}
.pull-right ~ * {
  clear: both;
}
img, video, iframe {
  max-width: 100%;
}


/* code chunk background */
.hljs-github .hljs {
    background: #e7e8e2;
}





/* custom.css */
.left-tight {
  width: 33%;
  float: left;
}
.right-wide {
  width: 65%;
  float: right;
  padding-left: 1%;
}
