/* New colors */
.important {
  background-color: #c2e2e2;
  color: #000000;
}

.review {
  background-color: #e6b5ce;
  color: #000000;
}

.remark-slide-content {
  border-top: 80px solid #a0366b;
}
/* New colors */


.large { font-size: 130% }
.small { font-size: 70% }


.footnote{
  position: absolute;
  bottom: 3em;
  padding-right: 4em;
  font-size: 90%
}

.example {
  background-color: #cacdba;
  color: #000000;
}



/* Two-column layout */
.left-column {
  color: #777;
  width: 20%;
  height: 92%;
  float: left;
}
.left-column h2:last-of-type, .left-column h3:last-child {
  color: #000;
}
.right-column {
  width: 75%;
  float: right;
  padding-top: 1em;
}
.pull-left {
  float: left;
  width: 47%;
}
.pull-right {
  float: right;
  width: 47%;
}
.pull-right ~ * {
  clear: both;
}
img, video, iframe {
  max-width: 100%;
}


/* code chunk background */
.hljs-github .hljs {
    background: #e7e8e2;
}


/* custom.css */
.left-tight {
  width: 33%;
  float: left;
}
.right-wide {
  width: 65%;
  float: right;
  padding-left: 1%;
}


/* progress bar */
.remark-slide-number {
  position: inherit;
}

.remark-slide-number .progress-bar-container {
  position: absolute;
  bottom: 0;
  height: 4px;
  display: block;
  left: 0;
  right: 0;
}

.remark-slide-number .progress-bar {
  height: 100%;
  background-color: #7e715e;
}


/* Removes colored bar from top of the slide resulting in a clear slide */
.clear{
  border-top: 0px solid #FAFAFA;
}
